<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966336127801-0pb2d8i0d8m2rlr84ns9l073q9shhuvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966336127801-0pb2d8i0d8m2rlr84ns9l073q9shhuvu</string>
	<key>API_KEY</key>
	<string>AIzaSyDv0r-776Gb984YDc-Y91oxfXieKslind0</string>
	<key>GCM_SENDER_ID</key>
	<string>966336127801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qrCodeFirebase</string>
	<key>PROJECT_ID</key>
	<string>qrcode-82a04</string>
	<key>STORAGE_BUCKET</key>
	<string>qrcode-82a04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966336127801:ios:fb424ba7e59bb41b623ee8</string>
</dict>
</plist>